//FONTS

$font-primary: "Poppins";
$font-primary-medium: "Poppins-medium";
$font-primary-semi-bold: "Poppins-semi-bold";
$font-primary-bold: "Poppins-bold";
$font-primary-extra-bold: "Poppins-extra-bold";

$font-secondary: "Ubuntu-regular";
$font-secondary-medium: "Ubuntu-medium";
$font-secondary-bold: "Ubuntu-bold";

//COLORS

$color-primary: #0f9d41;
$color-oxford-blue: #263238;
$color-white: #ffffff;
$color-black: #000;
